@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.primaryButton {
  /* all: unset; */
  background-color: #2c8ee3;
  /* border: 2px solid #65a022; */
  border-radius: 5px;
  padding: 7px 20px;
  color: #fff !important;
}
